* {
    box-sizing: border-box;
    color: whitesmoke;
    background: url('imgs/football-field.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    padding-top: 7.5%;
    color: black;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
}

fieldset {
    border-radius: 1.5%;
}

#main-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-header-section {
    display: flex;
    justify-content: space-around;
}

.question-container {
    margin-top: 5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.question {
    font-size: 1.2rem;
    text-align: center;
}

.answer {
    margin: 2.5% 5%;
}

.giphy-embed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label {
    border: 1px solid whitesmoke;
    display: block;
    margin-top: 25px;
}

#question-submit {
    width: 100px;
    height: 50px;
    border-radius: 10%;
}

#next-question {
    width: 175px;
    height: 50px;
    border-radius: 10%;
    margin-left: 14%;
}

#start-heading {
    text-align: center;
}

#start-button, #restart-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 150px;
    border-radius: 10%;
    font-size: 20px;
}

#start-button:hover, label:hover, #question-submit:hover, #next-question:hover, #restart-button:hover {
    cursor: pointer;
    transform: scale(1.03);
}

#questions-remaining, #js-question-left, #js-score-total, #score, .question {
    color: black;
}

@media screen and (min-width: 700px) {
    .question-container {
        margin-top: 2.5%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #main-submit {
        width: 150px;
        height: 55px;
        border-radius: 10%;
    }

    .question {
        font-size: 1.5rem;
    }

    .giphy-embed {
        width: 450px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 500px) {
    .question-container {
        margin-top: 2.5%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #next-question {
        width: 175px;
        height: 50px;
        border-radius: 10%;
        margin-left: 20%;
    }

    .question {
        font-size: 1.5rem;
    }

    .giphy-embed {
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}