* {
    box-sizing: border-box;
    background: url('./imgs/football-field.png') no-repeat center center fixed;
    color: white;
}

h2 {
    margin-top: 75px;
    text-align: center;
}

fieldset {
    border-radius: 1.5%;
}

#main-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-header-section {
    display: flex;
    justify-content: space-around;
}

.question-container {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.question {
    text-align: center;
}

.answer {
    margin: 2.5% 5%;
}

label {
    border: 1px solid whitesmoke;
    display: block;
    margin-top: 25px;
}

#question-submit {
    width: 100px;
    height: 50px;
    border-radius: 10%;
}

#start-heading {
    text-align: center;
}

#start-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 150px;
    border-radius: 10%;
    font-size: 20px;

}

@media screen and (min-width: 700px) {
    .question-container {
        margin-left: 10%;
        margin-right: 10%;
    }

    #main-submit {
        width: 150px;
        height: 55px;
        border-radius: 10%;
    }
}